@page "{id:int?}"
@model BookLibrary.WebApp.Pages.BookModel

<div style="margin: auto;" class="border border-light p-3 w-50 shadow">
    @switch (Model.Job)
    {
        case BookModel.Action.Detail:
            
    }
</div>